<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='viewport'
            content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
        />
        <meta http-equiv='X-UA-Compatible' content='ie=edge' />
        <title>Note App</title>
        <link rel='stylesheet' href='../css/styles.css' />
        <style>
            {{#if dark}}
                body { background: black; color: white; }
            {{else}}
                body { background: white; color: black; }
            {{/if}}
        </style>
    </head>
    <body>
        <header>
            <h1>Note App</h1>
        </header>
        <div class='content'>
            {{{body}}}
        </div>
        <footer>
            <p>MAS22/24_WE2: Alain Buri & Sven Zoller, 2023</p>
        </footer>
    </body>
</html>