<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='viewport'
            content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
        />
        <meta http-equiv='X-UA-Compatible' content='ie=edge' />
        <title>Todo</title>
        <link rel='stylesheet' href='../css/styles.css' />
        {{#if dark}}
            <style>
                body { background: black; color: white; }
            </style>
        {{else}}
            <style>
                body { background: white; color: black; }
            </style>
        {{/if}}
    </head>
    <body>
        <header>
            <h1>ToDo App</h1>
        </header>
        <div class='content'>
            {{{body}}}
        </div>
        <footer>
            <p>MAS22/24_WE2: Note App, Alain Buri & Sven Zoller, 2023</p>
        </footer>
    </body>
</html>