

<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px;
    }

    label {
        width: 100%;
    }

    input[type="checkbox"] {
        margin-left: 0;
    }

    input, textarea {
        width: 100%;
    }

    button {
        margin-top: 10px;
    }
</style>

<form id="createEntryForm" action="/entries" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="noteTitle" required>

    <label for="importance">Importance (1-5):</label>
    <input type="number" id="importance" name="noteImportance" min="1" max="5" required>

    <label for="date">Due Date:</label>
    <input type="date" id="date" name="noteDueDate" required>

    <label for="state">Finished:</label>
    <input type="checkbox" id="state" name="noteState" value="COMPLETED">


    <label for="description">Description:</label>
    <textarea id="description" name="noteDescription"></textarea>

    <button id="createButton" type="submit">Create</button>
    <button id="createAndOverviewButton" type="submit" >Create & Overview</button>
</form>
<!--------------------------------------------------------------------------------------------------------------------->


<form id="overviewForm" action="/index" method="GET" >
    <input type="hidden" name="fetchData" value="false">

</form>
<!--------------------------------------------------------------------------------------------------------------------->


<button id="overviewButton" type="submit"> Overview </button>

<script>
    // Todo Gfeller: Installing event listeners to control database fetching seems not like a very nice solution. Is it really necessary to do situational fetches or can the fetch for this project take place whenever index is loaded?
    // this script is newly instanciated and executed every time the newEntryForm page is loaded
    // therefore all script variables (such as dbDataHasChanged) will be lost on reload
    let dbDataHasChanged = null;

    const overviewForm = document.getElementById('overviewForm');
    const createEntryForm = document.getElementById('createEntryForm');

    // Event listener for create button
    const createButton = document.getElementById('createButton');
    createButton.addEventListener('click', (event) => {
        event.preventDefault();
        dbDataHasChanged = true;
        createEntryForm.submit();
    });

    const overviewButton = document.getElementById('overviewButton');
    overviewButton.addEventListener('click', (event) => {
        event.preventDefault();
        if (dbDataHasChanged === true) {
            overviewForm.elements['fetchData'].value = "true"; // Change the value of the 'fetchData' field
            dbDataHasChanged = false;
        }
        overviewForm.submit();    // Manually submit the form
    });

    const createAndOverviewButton = document.getElementById('createAndOverviewButton');
    createAndOverviewButton.addEventListener('click', (event) => {
        event.preventDefault();
        createEntryForm.action = '/index';  // change target from /entries to /index for post
        createEntryForm.submit();
    });
</script>