.detail {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto 1fr;
}

div {
    padding: 1px;
}

h1 {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
}

form {
    margin: 1px;
}

label {
    width: 100%;
}

input {
    width: 285px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    padding: 1px;
}

.checkbox {
    width: auto;
    margin: 3px 3px 3px 0px;
}

.titleSection {
    grid-row-start: 2;
    grid-row-end: 2;
}

.importanceSection {
    grid-row-start: 3;
    grid-row-end: 3;
}

.dueDateSection {
    grid-row-start: 4;
    grid-row-end: 4;
}

.finishedSection {
    grid-row-start: 5;
    grid-row-end: 5;
}

.descriptionSection {
    grid-row-start: 6;
    grid-row-end: 6;
}

textarea {
    width: 285px;
}

.buttonSection {
    grid-row-start: 7;
    grid-row-end: 7;
}

button {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 285px;
    margin-top: 3px;
}

button:active,
button:focus {
    background-color: blue;
    box-shadow: 0 0 5px dodgerblue;
    outline: none;
    width: 285px
}

footer {
    padding: 10px;
}

/*body {*/
/*    margin: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 100vh;*/
/*    background: black;*/
/*    color: white;*/
/*}*/

/*.content {*/
/*    flex: 1;*/
/*    padding: 10px;*/
/*}*/


/*.checkbox-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*}*/


/*.mainButtonTable {*/
/*    display: grid;*/
/*    grid-template-columns: auto 1fr auto;*/
/*}*/

/*.orderFilterButtonTable {*/
/*    display: grid;*/
/*    grid-template-columns: auto auto auto auto 1fr auto;*/
/*}*/

/*.noTable {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr;*/
/*    background-color: lightblue;*/
/*    margin-top: 20px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.mainTable {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr auto;*/
/*}*/

/*.data-container {*/
/*    display: grid;*/
/*    grid-template-columns: 8em 1fr 8em;*/
/*}*/

/*.grayed-out {*/
/*    background-color: #888;*/
/*    opacity: 0.5;*/
/*}*/

/*.data-entry-center {*/
/*    text-align: center;*/
/*    word-break: break-all;*/
/*}*/

/*.data-entry-left {*/
/*    text-align: left;*/
/*}*/

/*.data-entry-right {*/
/*    text-align: right;*/
/*}*/

/*.button-container {*/
/*}*/



/*.sortIconVisible {*/
/*    visibility: visible;*/
/*}*/

/*.sortIconInvisible {*/
/*    visibility: hidden;*/
/*}*/


/*.button-selected {*/
/*    font-weight: bold;*/
/*    background-color: blue;*/
/*}*/

body {
    display: grid;
    min-height: 98vh;   <!-- Todo: this feels a bit like cheating. at 100vh the body area is larger than the displayed section -->
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-areas:
        "appHeader"
        "appContent"
        "appFooter";
}

header {
    grid-area: appHeader;
    border: 1px solid black;
}
.content {
    grid-area: appContent;
    border: 1px solid black;
}

footer {
    grid-area: appFooter;
    border: 1px solid black;
}

@media screen and (min-width: 360px) {
    /*TODO: Implement desktop part here*/
}


