header {
    grid-area: appHeader;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 36px
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "appHeader"
        "appContent"
        "appFooter";
    justify-content: center;
    min-height: 98vh;   /* Todo: this feels a bit like cheating. at 100vh the body area is larger than the displayed section */
    font-size: 15px;
}

form {
    margin-block-end: 0;
}

input,
label,
textarea {
    width: 100%;
}

button {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

button:active,
button:focus {
    background-color: blue;
    box-shadow: 0 0 5px dodgerblue;
    outline: none;
}

footer {
    grid-area: appFooter;
    padding: 10px;
}

.content {
    grid-area: appContent;
}

.section-margin {
    padding: 8px;
}

.checkbox {
    width: auto;
    margin: 3px 3px 3px 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "buttonSection"
        "orderButtonSection"
        "mainTable"
}

.button-section-index {
    grid-area: buttonSection;
}

.order-button-section-index {
    grid-area: orderButtonSection;
}

.main-table-index {
    grid-area: mainTable;
    font-size: 15px;
}

.main-table-entry {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 7em 1fr 10em 5.5em;
    grid-template-areas:
        "tableDate tableTitle tableTitle tableImportance"
        "tableState tableDescription tableDescription tableDescription"
        "tableButton tableButton tableButton tableButton";
}

.main-table-date {
    grid-area: tableDate;
    /* border: 2px solid green; */
}

.main-table-title {
    grid-area: tableTitle;
    overflow-wrap: break-word;
/*    border: 2px solid purple;*/
}

.main-table-importance {
    grid-area: tableImportance;
    font-size: 10px;
    text-align: right;
/*    border: 2px solid red;*/
}

.main-table-state {
    grid-area: tableState;
/*    border: 2px solid orange;*/
}

.main-table-description {
    grid-area: tableDescription;
    overflow-wrap: break-word;
/*    border: 2px solid yellow;*/
}

.main-table-button {
    grid-area: tableButton;
    /*    border: 2px solid blue;*/
}

.sort-icon-visible-index {
    visibility: visible;
}

.sort-icon-invisible-index {
    visibility: hidden;
}

.button-selected-index {
    font-weight: bold;
    background-color: blue;
}

.noTable-index {
    background-color: cornflowerblue;
    color: blue;
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    font-weight: bold;
}

.opacity-index {
    opacity: 0.5;
}

/* Todo: Consider adding grid-template-areas like in index */
.detail {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        "titleSection"
        "importanceSection"
        "dueDateSection"
        "statusSection"
        "descriptionSection"
        "buttonSection";

}

.details-title-section {
    grid-area: titleSection;
}

.details-importance-section {
    grid-area: importanceSection;
}

.details-dueDate-section {
    grid-area: dueDateSection;
}

.details-status-section {
    grid-area: statusSection;
}

.details-description-section {
    grid-area: descriptionSection;
}

.button-section-details {
    grid-area: buttonSection;
}

/* Wir haben uns für eine min-width von 361-pixel statt 360 entschieden, damit bei
   Smartphones mit einer Breite von <= 360px die mobile version angezeigt wird.  */
@media screen and (min-width: 361px) {

    button {
        width: fit-content;
        margin-right: 5px;
        white-space: nowrap;
    }

    .button-section-index {
        display: flex;
        justify-content: space-between;
    }

    .order-button-section-index {
        display: flex;
        justify-content: flex-start;
    }

    .flex-item-index {
        margin-left: auto;
    }

    .main-table-entry {
        grid-template-columns: 10em 1fr 10em auto;
        grid-template-areas:
        "tableDate tableTitle tableImportance tableButton"
        "tableState tableDescription tableDescription tableButton"
        "tableState tableDescription tableDescription tableButton";
    }
    .main-table-importance {
        font-size: 15px;
    }

    .main-table-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-section-details {
        display: inline-flex;
    }
}
