/*------------------------------ COMMON ---------------------------*/

/*TODO: remove when design is finished*/
div {
    /*border: 1px solid red;*/
}

body {
    min-height: 100vh;
    font-size: 15px;
    display: grid;
}

h1 {
    text-align: center;
}

form {
    margin-block-end: 0em;
}

input,
label,
textarea {
    width: 100%;
}

button {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

button:active,
button:focus {
    background-color: blue;
    box-shadow: 0 0 5px dodgerblue;
    outline: none;
    width: 100%
}

footer {
    padding: 10px;
    grid-row-start: 10;
    grid-row-end: 10;
}

.section-margin {
    padding: 8px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox {
    width: auto;
    margin: 3px 3px 3px 0px;
}

/*------------------------------ INDEX ---------------------------*/

.body-index {
    grid-template-columns: 100%;
    grid-template-rows: 70px auto auto auto 1fr 60px;
}

.day-titel-importance-index {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 40% 20%;
}

.checkbox-state-description-index {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 1fr;
}

.flash-index {
    font-size: 10px;
    justify-self: end;
}

.seperator-index {
    border-top: solid 1px;
}

.noTable-index {
    background-color: lightblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sort-icon-visible-index {
    visibility: visible;
}

.sort-icon-invisible-index {
    visibility: hidden;
}

.button-selected-index {
    font-weight: bold;
    background-color: blue;
}

/*------------------------------ DETAILS ---------------------------*/

.body-details {
    grid-template-columns: 100%;
    grid-template-rows: 70px auto auto auto auto auto auto auto 1fr 60px;
}

/*------------------------------ MEDIA ---------------------------*/

@media screen and (min-width: 360px) {
    /*TODO: Implement desktop part here*/
}
